@tailwind base;
@tailwind components;
@tailwind utilities;


body, body input {
  font-family: "noto-sans", sans-serif;
  font-weight: 400;
  color: #414141;
}

.text-h2-title, .text-title{
  margin: 0;
  line-height: 125%;
  font-family: "source-serif-pro";
  font-weight: 700;
  letter-spacing: -.4px;
}

.detailed-highlights-item {
  display: flex;
  align-items: flex-start;
  padding-right: 1.25rem;
  color: #414141;
}